body {
    font-family: Arial, sans-serif;
    margin: 0px;
    text-align: center;
}
h1{
    margin: 0;
    width: 100%;
    background-color:  #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px ;
}

form {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: inline-block;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#form-entrega {
    border: 1px solid #ccc;
    width: 50%;
}

#form-devolucao {
    border: 1px solid #ccc;
    width: 50%;
}

#historico {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#historico li {
    margin: 10px 0;
}

#limpar-historico {
    background-color: #dc3545;
    color: #fff;
}

#limpar-historico:hover {
    background-color: #c82333;
}

#cadeira{
    padding: 8px;
    margin: 0px 6;
    border-radius: 4px;
    cursor: pointer;
}
#cadeira-devolucao{
    padding: 8px;
    margin: 0px 6;
    border-radius: 4px;
    cursor: pointer;
}